/* .row {
    display: flex;
    padding: 20px;
  }
  
  .column {
    flex: 50%;
  } */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 5px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
  }
  
  tr:hover {background-color:#f5f5f5;}
  button {
    margin-right: 10px;
  }
  .mainB {
    background-color:#81c0eb;
    border-radius:10px;
    border:1px solid #4a9bff;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    /* font-weight:bold; */
    font-family:Arial;
    font-size:14px;
    padding:1px 20px;
    text-decoration:none;
  }
  .mainB:hover {
    background-color:#4a9bff;
  }
  .mainB:active {
    position:relative;
    top:1px;
  }
  
          